<!DOCTYPE html>
<html lang="{{ app.request.get('_locale') }}">

    <head>

        {# Métas #}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {# Titre "racine" de l'onglet #}
            {% block title %}
                NATA
            {% endblock %}
        </title>

        {# CSS #}
        {% block css %}

        {% endblock %}

    </head>

    <body>
        {% block body %}
            Salut
        {% endblock %}
    </body>



</html>